* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.body {
  position: relative;
  width: 65%;
  margin: 0 auto;
  /* font-size: 20px; */
  /* color: #5c5c5c; */
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px;
  /* border: 1px solid yellow; */
}
a {
  text-decoration: none;
  color: #5c5c5c;
  /* font-size: 18px; */
  position: relative;
}
nav {
  display: flex;
  justify-content: flex-end;
}
.link-underline::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: 0.4s;
  z-index: 999;
}
.link-underline:hover:before {
  width: 100%;
}
.wrapper-content__style-block {
  position: relative;
  background-color: #f0f0f0;
  font-size: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    0 0 40px rgba(0, 0, 0, 0.1) inset;

  border-left: 4px solid #d6d6d6;
  padding: 10px 10px 10px 35px;

  margin-bottom: 15px;
}
.wrapper__navigation-list {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 10px 10px 0px;
  /* border: 1px solid black; */
}
.wrapper__navigation-list_media768 {
  display: none;
}
.navigation-list {
  list-style: none;
}
.link-decor:hover {
  color: black;
  transition: all ease 0.5s;
}
.wrapper-content__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border-left: 4px solid #d6d6d6;
}
.wrapper-content__header_foto {
  min-width: 135px;
  min-height: 150px;
  background: url(../img/foto.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper-content__razdelitel {
  width: 100%;
  height: 5px;
  margin: 16px 0 16px 0;
  box-sizing: border-box;
  background-color: #d6d6d6;
}

.pre-javascript {
  color: #333;
  background: none;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.4;
}
.token-comment {
  color: #969896;
}
.token-operator {
  color: #a71d5d;
}
.token-punctuation {
  color: #333;
}
.token-function {
  color: #795da3;
}
.token-string {
  color: #183691;
}

.myProjects-style {
  padding: 5px 0 5px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-media768 {
  display: none;
}
.logo {
  width: 120px;
  height: 70px;
  background-image: url(../img/rs_school_js.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.link-rsschool {
  text-decoration: none;
  font-size: 16px;
  color: #5c5c5c;
}
@media (max-width: 1200px) {
  .logo {
    width: 100px;
    height: 50px;
  }
}
@media (max-width: 992px) {
  .body {
    width: 100%;
  }
  .wrapper__navigation-list {
    min-width: 100%;
  }
  .link-decor {
    font-size: 22px;
  }

  .logo-img {
    width: 70px;
    height: 40px;
    /* border: 1px solid black; */
  }
}
@media (max-width: 768px) {
  .pre-javascript {
    font-size: 12px;
  }
  .media-show {
    display: none;
  }
  .footer {
    display: none;
  }
  .footer-media768 {
    display: block;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
  }
  .link-decor {
    font-size: 18px;
  }
  .logo-img {
    width: 140px;
    height: 80px;
    /* border: 1px solid black; */
  }
}
@media (max-width: 520px) {
  .link-decor {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .pre-javascript {
    font-size: 10px;
  }
  .link-decor {
    font-size: 12px;
  }
}
