* {
    box-sizing: border-box;
}
body {
margin: 0 auto;
padding: 0;
}
.wrapper{
    margin: 0 auto;
    max-width: 70vw;
    /* height: 70vh; */
}
.player__video{
    width: 100%;
    height: 80vh;
    background-color: #000000;
}

.control-panel{
    min-width: 100%;
    min-height: 85px;
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -4px;
    padding: 15px;
}
.video-wrapper-button{
    min-width: 100%;
    min-height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-wrapper-control-panel-play{
    min-width: 160px;
    /* height: 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: yellow 1px solid; */
}
.video-button-style{
    height: 30px;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.video-button-style:hover{
    box-shadow: 0 0 5px 2px rgb(240, 229, 229); 
    cursor: pointer;
}
.wrapper-range-video{
    min-width: 400px;
  
}
input[type=range] {
    width: 100%; 
   
  }

.video-button-back{
    width: 27px;
    background-image: url(img/video-back.svg);
}
.video-button-play{
    width: 27px;
    display: flex;
    align-items:center;
  
    
    /* background-image: url(img/video-play.svg); */
}
/* .imgplay{
    width: 23px;
    padding-right: 3px;
} */
.video-button-forward{
    width: 27px;
    background-image: url(img/video-forward.svg);
}
.video-wrapper-control-panel-volume-screen{
    width: 250px;
    /* height: 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video-button-volume{
    width: 38px;
    background-image: url(img/video-volume.svg);
}
.wrapper-range-sound{
    max-width: 120px;
    padding-right: 0px;
}
.video-button-screen{
    width: 36px;
    height: 36px;
    background-image: url(img/video-screen.svg);
}
.control-time{
    width: 30px;
    color: #ffff;

}